.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  overflow: hidden;

  input {
    padding: 8px;
  }

  button {
    background-color: var(--dark-gray);
    color: var(--gray);
    padding: 8px;
  }
}
