* {
  font-size: inherit;
  color: inherit;
  border-color: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
button,
input {
  outline: none;
  background-color: transparent;
  border: 0;
}

button {
  cursor: pointer;
}
